*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#editor-contaner {
    width: 100%;
    margin: 20px 0;
}

.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 600px;
}
.ck-content .image {
    /* block images */
    max-width: 80%;
    margin: 20px auto;
}